.DS_Store
*.swp
*.lock
*.log

.vagrant
target

# SBT
.history

# Temp files
*~
**/~$*

# Native library
native/

# Compiled Python Scripts
*.pyc

# Intellij
*.iml
.idea

# Jenkins release job gitignore
newversion
oldversion

#akka-seeding scripts
akka-seeding/

#kubernetes generated manifests
deploy/manifests
